{% extends 'cnu/layout.html' %}
{% load static %}
{% block title %}
    Cereri-tip
{% endblock %}
{% block body %}
<div class="layout-container">
    <div class="page-header">
        <div class="container">
            <h1 class="page-title">Cereri</h1>
        </div>
    </div>

    <div class="container">
        <!-- Secțiune lucru -->
        <div class="alert-important">
            <h3 class="text-center"><strong>🔔 Important:</strong> Pagina in lucru... 🛠️ </h3>
        </div>
        <code>Ne cerem scuze pentru inconveniențe!</code>
    </div>
</div>
{% endblock %}
