{% extends 'cnu/layout.html' %}
{% load static %}
{% block title %}
    Personal Auxiliar
{% endblock %}
{% block body %}
<div class="layout-container" style="width: 95%;">
   
    <div class="section-title-staff w-100">Personal Auxiliar</div>
        <div class="staff-grid aux-grid">
            <div class="staff-card">
                <div class="staff-img-container">
                    <img class="staff-img img-fluid" src="{% static 'cnu/assets/prof.png' %}" alt="placeholder image">
                </div>
                <div class="staff-info">
                    <div class="staff-name">Paula Simona COJOCARU </div>
                    <div class="staff-role">Administrator financiar</div>
                </div>
            </div>
            <div class="staff-card">
                <div class="staff-img-container">
                    <img class="staff-img img-fluid" src="{% static 'cnu/assets/prof.png' %}" alt="placeholder image">
                </div>
                <div class="staff-info">
                    <div class="staff-name">Olimpia MIHALCEA</div>
                    <div class="staff-role">Secretar</div>
                </div>
            </div>
            <div class="staff-card">
                <div class="staff-img-container">
                    <img class="staff-img img-fluid" src="{% static 'cnu/assets/prof.png' %}" alt="placeholder image">
                </div>
                <div class="staff-info">
                    <div class="staff-name">Doina MITRICĂ</div>
                    <div class="staff-role">Bibliotecar</div>
                </div>
            </div>
            <div class="staff-card">
                <div class="staff-img-container">
                    <img class="staff-img img-fluid" src="{% static 'cnu/assets/prof.png' %}" alt="placeholder image">
                </div>
                <div class="staff-info">
                    <div class="staff-name">Florentina MITRICĂ</div>
                    <div class="staff-role">Operator introducere date</div>
                </div>
            </div>
            <div class="staff-card">
                <div class="staff-img-container">
                    <img class="staff-img img-fluid" src="{% static 'cnu/assets/prof.png' %}" alt="placeholder image">
                </div>
                <div class="staff-info">
                    <div class="staff-name">Georgeta PENESCU</div>
                    <div class="staff-role">Laborant</div>
                </div>
            </div>
            <div class="staff-card">
                <div class="staff-img-container">
                    <img class="staff-img img-fluid" src="{% static 'cnu/assets/prof.png' %}" alt="placeholder image">
                </div>
                <div class="staff-info">
                    <div class="staff-name">Costel VERDESCU</div>
                    <div class="staff-role">Administrator patrimoniu</div>
                </div>
            </div>
    </div>
</div>
{% endblock %}